# Python
__pycache__/
*.pyc
*.pyo
*.pyd
/src/config/settings.ini

# Django
db.sqlite3
*.log
media/
staticfiles/

# Environment variables
.env

# Virtual environment
venv/
env/

# VS Code
.vscode/

# macOS
.DS_Store